.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023C9C;
}
.headerContent{
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #023C9C;
    border: 2px solid white;
}
.headerImgLogo{
    width: 20%;
    height: 100%;
}
.imgLogo{
    width: 100%;
    height: 100%;
}
.headerInputSearch{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.inputSearch{
    width: 80%;
    height: 25%;
    margin-left: 3%;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}
.buttonSearch{
    width: 10%;
    height: 20%;
    border: none;
    border-radius: 10px;
    margin-left: 2%;
    font-size: 0.8vw;
}
.headerSignin{
    width: 10%;
    height: 100%;
}
.headerCart{
    width: 10%;
    height: 100%;
}
.sidebar{
    width: 75%;
    height: 25%;
    display: flex;
    margin: 0 auto;
    justify-content: left;
    align-items: center;
    background-color: #023C9C;
}
.navMenu{
    width: 95%;
}
.menu{
    width: 100%;
    list-style:none;
    float:left;
}
.menu li{
    height: 100%;
    width: 20%;
    float:left;
    text-align: center;
}
.menu li a{
    height: 100%;
    color:rgb(255, 255, 255);
    text-decoration:none;
    display:block;
}
.menu li:hover{
    height: 100%;
    background:rgb(3, 0, 0);
    color:#fff;
}
.menu li  ul{
    width: 100%;
}
.content{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    border: 2px solid white;
    background-color: tomato;
}