.Card{
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
    height: 15%;
}
.imgCard{
    width: 100%;
}
.imgCard .img{
    width: 100%;
    height: 80%;
}
.descriptionCard{
    font-size: 1vw;
    width: 100%;
    height: 8%;
    margin-bottom: 4%;
    text-align: center;
    color: white;
}
.priceCard{
    font-size: 1vw;
    width: 100%;
    height: 8%;
    text-align: center;
    color: white;
}